---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp

PointerAlignment: Left

AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
  PadOperators: true
