---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp

PointerAlignment: Left

AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
  PadOperators: true

MaxEmptyLinesToKeep: 3
NamespaceIndentation: All
SeparateDefinitionBlocks: Always

SpacesInLineCommentPrefix:
  Minimum: 1

SpacesInParentheses: true

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
